@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&display=swap');

*{margin: 0; padding: 0; box-sizing: border-box;}
body{font-family: 'Noto Sans KR', sans-serif; font-size: 14px; line-height: 1.3; color: #666; font-weight: 400;}
a{color: #666; text-decoration: none;}
img{border: 0; vertical-align: top;}
input, select{vertical-align: top;}
ul,ol{list-style: none;}
button {border: 0; background-color: transparent;}
fieldset {border: none;}
legend,label {display: none;}


.clear::after { content: ""; display: block; clear: both;}
.hidden {font-size: 0; color: transparent;}